<%-include('./partials/header.ejs')%>

<div class="myContainer">
    <h1><span class="brand"><%=appName%></span></h1>
    <div class="myCard">
        <div class="wrapper">
            <div class="myCard-header">
                <h3>Login</h3>
            </div>
            <div class="myCard-title">
                <%- include ('./partials/messages') %>
            </div>
            <div class="myCard-body">
                <div class="frm-login">
                    <form action="/users/login" method="POST">
                        <div>
                            <label for="email">Email</label>
                            <input type="email" name="email" placeholder="Enter Email" autocomplete="no"/>
                        </div>
                        <div>
                            <label for="password">Password</label>
                            <input type="password" name="password" placeholder="Enter Password" />
                    
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<%-include('./partials/footer.ejs')%>